process.executor       = 'slurm'
process.clusterOptions = '-A naiss2025-22-1574 -p shared'

executor {
  queueSize = 30
}

process {
  time    = '5d'
  maxForks = 25

  cpus   = 2
  memory = '4 GB'

  beforeScript = '''
    module purge
    module load bcftools/1.20
    module load bedtools/2.31.0
    module load samtools/1.20
  '''


  withName: dellyCallRaw {
    cpus   = 5
    memory = '5 GB'
    time   = '5d'
    maxForks = 5
  }

  withName: dellyGenotype {
    cpus   = 5
    memory = '5 GB'
    time   = '5d'
    maxForks = 5
  }

  withName: dellyMergeSites { scratch = true; cpus = 8; time = '5d'; memory = '8 GB'; maxForks = 1 }
  withName: dellyMergeGenos { scratch = true; errorStrategy = 'ignore'; cpus = 8; time = '5d'; memory = '8 GB'; maxForks = 1 }
  withName: dellyConcat     { scratch = true; errorStrategy = 'ignore'; cpus = 64; time = '5d'; memory = '64 GB'; maxForks = 1 }

  withName: /dysgu.*/ {
    beforeScript = '''
      module purge
      module load bcftools/1.20
      module load bedtools/2.31.0
      module load cray-python/3.11.7
      export PATH="$HOME/.local/bin:$PATH"
      hash -r
    '''
  }

  withName: dysguRunAndFilter {
    cpus   = 8
    memory = '36 GB'
    time   = '5d'
    maxForks = 2
  }

  withName: dysguMerge { scratch = true; time = '5d'; cpus = 64; memory = '64 GB'; maxForks = 1 }


  withName: mantaRun {
    scratch = true
    cpus   = 8
    memory = '6 GB'
    time   = '5d'
    maxForks = 5
    beforeScript = '''
      module purge
      module load samtools/1.20
      module load manta/1.6.0
    '''
  }

  withName: mantaMergeSurvivor { scratch = true; cpus = 96; time = '5d'; memory = '96 GB'; maxForks = 1 }


  withName: overlap_vcf { cpus = 64; time = '5d'; memory = '64 GB'; maxForks = 1 }
}

workDir = '/cfs/klemming/projects/supr/naiss2025-23-666/Saida/Nextflow_outputs/Nextflow_work'
